html, body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}
h2 {
    color: #220033;
}
a {
    text-decoration: none;
    color: #fff;
}

header{ 
    overflow: hidden;
    width: 100%;
    height: 700px;
    background-image: linear-gradient(to top, #0a76ff, #053169, #010c21);
}
.container {
    margin-right: 86px;
    margin-left: 86px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#menu__toggle {
    display: none;
}
.header_body{ 
    display: flex;
    justify-content: space-between;
}
 .menu__box{
    display: flex;
    justify-content: space-between;
    list-style: none;  
 }
 .link1 {
    margin-left: 8px;
    font-size: 14px;
 }
 .link1:hover,
 .link:focus{
    transition: all 0.8s ease;
    color: #ffc187;
 }

 .one__section {
     margin-top: 80px;
    margin-right: 86px;
    margin-left: 86px;
    display: flex;
     justify-content: space-between;
 }
 h1 {
     font-size: 96px;
 }
 .large {
    margin-top: -30px;
    font-size: 20px;
 }
 .btn {
        width: 250px;
        height: 55px;
        margin-top: 50px;
        border: none;
        border-radius: 15px;
        color: #071c36;
        line-height: 55px;
        text-align: center;
        text-decoration: none;
        font-size: 20px;
        font-weight: 900;
        background-image: linear-gradient(to top, #ffe897, #ffc187, #ffce85, #ffeda0);
     
 }
 .btn:hover, 
 .btn:focus {
    transition: all 0.8s ease;
    color: #ffc187;
    background-image: linear-gradient(to top, #5180d7, #3969c1, #203c70, #043168, #053169);
}

.work {
    margin-right: 86px;
    margin-left: 86px;
    margin-top: 110px;
}
.container__work{
    margin-left: 86px;
    margin-right: 86px;
    margin-top: 105px;
}
.list{
    margin-top: 100px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.list__p {
    color: #203c70;
    font-size: 18px;
}
.list__li {
    font-size: 28px;
    color: #ff9560;
}
.lists{ 
    margin-left: 10px;
}

.price{ 
    margin-top: 110px;
    width: 100%;
    height: 700px;
    background-image: radial-gradient(circle at 0 0, #5180d7, #3969c1, #203c70, #043168, #053169);
}
.container__price {
    margin-right: 86px;
    margin-left: 86px; 
}
.services {
    padding-top: 80px;
}
.price__ul{
    margin-top: 150px;
    text-align: center;
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.price__lists {
    margin-left: 10px;
}

.line span {
  width: 296px;
  height: 2px;
  background-color: #ff9560;
  display: block;
}
.description {
    margin-top: 100px;
}

.order{
    margin-top: 105px;
    margin-right: 86px;
    margin-left: 86px; 
}
.order h3 {
    color: #ff9560;
    font-size: 20px;
    font-weight: 300;
}
.order p {
    color: #203c70;
    font-size: 18px;
    font-weight: 400;
}
.order__one {
    margin-top: 108px;
    margin-left: 221px;
}
.order__two {
    margin-top: 102px;
    margin-left: 650px;
}

footer {
    margin-top: 105px;
    width: 100%;
    height:  550px;
    background-image: radial-gradient(circle at 0 0, #5180d7, #3969c1, #203c70, #043168, #053169);
}
.footer__contact {
    margin-left: 86px;
    margin-right: 86px;
    margin-top: 105px;
}
.footer__contact h2 {
    padding-top: 80px;
}
.footer__contact ul {
    padding-top: 50px;
}
.footer__contact a {
    color: #ffae85;
    text-decoration: none;
    list-style: none;
    font-size: 18px;
}
.footer__contact a:hover {
    transition: all 0.8s ease;
    color: #ffeda0;
}
.footer__contact li {
    list-style: none;
    color: #ffae85;
}
.phone {
    margin-top: 37px;
}
.work {
    margin-top: 37px;
    margin-left: 5px;
}
.header_burger {
    display: none;
}



@media   ( max-width: 1024px) {
    .image {
        width: 700px;
    }
    .link1 {
        margin-left: 10px;
        font-size: 10px;
    }
    .list__p {
        font-size: 16px;
    }
    .list__li {
        font-size: 20px;
    }
    .lists{ 
        margin-left: 20px;
    }
    .price__lists {
        margin-top: -100px;
        margin-left: 20px;
    }
    .price__h3 {
        font-size: 18px;
    }
    .price__li {
        font-size: 14px;
    }
    .price__ul {
        padding: 0;
    }
    .order h3 {
        font-size: 18px;
    }
    .order p {
        font-size: 14px;
    }
    .order__one {
        margin-top: 108px;
        margin-left: 150px;
    }
    .order__two {
        margin-top: 102px;
        margin-left: 450px;
    }
}
@media (max-width:978px) {
    .logo{
        position: absolute;
        right: 0;
        margin-top: 10px;
        margin-right: 15px;
    }
    .hamburger-menu {
        display: contents;
    }
    #menu__toggle {
        opacity: 0;
      }

      #menu__toggle:checked ~ .menu__btn > span {
        transform: rotate(45deg);
      }
      #menu__toggle:checked ~ .menu__btn > span::before {
        top: 0;
        transform: rotate(0);
      }
      #menu__toggle:checked ~ .menu__btn > span::after {
        top: 0;
        transform: rotate(90deg);
      }
      #menu__toggle:checked ~ .menu__box {
        visibility: visible;
        left: 0;
      }
      
      .menu__btn {
        display: flex;
        align-items: center;
        position: fixed;
        top: 20px;
        left: 20px;
      
        width: 26px;
        height: 26px;
      
        cursor: pointer;
        z-index: 1;
      }
      
      .menu__btn > span,
      .menu__btn > span::before,
      .menu__btn > span::after {
        display: block;
        position: absolute;
      
        width: 100%;
        height: 3px;
      
        background-color: #fff;
        box-shadow: 1px 0px 6px #220033;
      
        transition-duration: .25s;
      }
      .menu__btn > span::before {
        content: '';
        top: -8px;
      }
      .menu__btn > span::after {
        content: '';
        top: 8px;
      }
      
      .menu__box {
        display: block;
        position: fixed;
        visibility: hidden;
        top: 0;
        left: -100%;
      
        width: 300px;
        height: 250px;
      
        margin: 0;
        padding: 80px 0;
      
        list-style: none;
      
        background-color: #010c21;
        box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
      
        transition-duration: .25s;
      }
      
      .link1 {
        display: block;
        padding: 12px 24px;
      
        color: #fff;
      
        font-size: 15px;
      
        text-decoration: none;
      
        transition-duration: .25s;
      }
      .menu__item:hover {
        background-color: #ff9560;
      }
}
@media   ( max-width: 768px) {
    .people {
            margin-top: -260px;
            margin-left: 80px;
            width: 400px;
        }
        h1 {
            font-size: 64px;
        }
        .offer {
            margin-top: 5px;
        }
        .large {
           margin-top: -30px;
           font-size: 20px;
        }
    .list__p {
        font-size: 12px;
    }
    .list__li {
        font-size: 18px;
    }
    .list {
        margin-top: -1px;
        display: inline-block;
    }
    .lists{
        margin-top: 40px; 
        margin-left: 30px;
    }
    .price__ul{
        margin-top: 110px;
        display: inline-block;
    }
    .delivery{
        margin-top: 40px; 
    }
    .price__lists {
        margin-top: -120px;
        margin-left: 30px;
    }
    .price__h3 {
        font-size: 18px;
    }
    .price__li {
        font-size: 14px;
    }
    .price__ul {
        padding: 0;
    }
    .order h3 {
        font-size: 18px;
    }
    .order p {
        font-size: 12px;
    }
    .order__one {
        margin-top: 108px;
        margin-left: 50px;
    }
    .order__two {
        margin-top: 102px;
        margin-left: 350px;
    }
    .price {
        height: 800px;
    }
    .line span {
        margin-left: 130px;
      }
      .description {
          margin-top: 40px;
      }
    .information {
        text-align: center;
        font-size: 12px;
    }
    .footer__contact h2 {
        padding-top: 60px;
    }
    .footer__contact ul {
        padding-top: 30px;
    }
    .footer__contact a {
        font-size: 16px;
    }
}
@media   ( max-width: 610px) {
    .line span {
        margin-top: 30px;
        margin-left: 50px;
      }
      .description {
          margin-top: 5px;
      }
    .logo {
        width: 200px;
    }
}
@media   ( max-width: 425px) {
    .logo {
        width: 100px;
    }
    .people {
        margin-left: -320px;
    }
    .offer {
        text-align: center;
        margin-top: 250px;
    }
    h1 {
        font-size: 48px;
    }
    .large {
        font-size: 20px;
    }
    .btn {
        margin-top: -5px;
    }
    .price {
        height: 1100px;
    }
    .line span {
        margin-left: -50px;
      }
      .list {
        padding: 0;
      }
    .order h3 {
        font-size: 16px;
    }
    .order p {
        font-size: 10px;
    }
    .order__one {
        margin-top: 80px;
        margin-left: 20px;
    }
    .order__two {
        margin-top: 102px;
        margin-left: 100px;
    }
    .footer__contact h2 {
        padding-top: 60px;
    }
    .footer__contact ul {
        padding-top: 30px;
        padding-left: 0;
    }
    .footer__contact a {
        font-size: 14px;
    }
    .work li {
        font-size: 14px;
    }
}
@media   ( max-width: 375px) {
    .offer {
        margin-left: -30px;
    }
    .work__office li {
        font-size: 14px;
    }
    .list__footer h3 {
        font-size: 18px;
    }
    .footer__contact ul {
        padding-top: 30px;
        padding-left: 0;
    }
    .price {
        margin-top: -1px;
        height: 1200px;
    }
    .service {
        margin-top: -30px;
    }
    .line span {
        margin-left: -75px;
      }
      .work {
          margin-top: -60px;
      }
      .order {
        margin-top: 30px;
      }
      .order__one {
        margin-top: 30px;
      }
    footer{ 
        margin-top: -60px;
    }
      .footer__contact h2 {
        padding-top: 30px;
    }
    .footer__contact ul {
        padding-top: 10px;
        padding-left: 0;
    }
    .work__office {
        margin-top: 37px;
    }

}
@media   ( max-width: 320px) {
    .offer {
        margin-left: -50px;
    }
    .price {
        height: 1400px;
    }
    .lists {
        margin: 0;
    }
    .line span {
        width: 150px;
        margin-left: 1px;
      }
    .price__lists {
        margin-left: 0;
    }
    footer{ 
        height: 580px;
    }
    .order__two {
        margin-left: 50px;
    }
}